{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-6 col-md-offset-3 pb-2 bg-primary">
			<div class="card">
				<div class="card-header bg-primary text-white">
	   				Create new community service
	   				<a type="button" class="close" href="{{ path_for('person', {'personId': personId}) }}" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </a>
	  			</div>
  				<div class="card-block">
					<form method="post" action="{{ path_for('postAddService', {'personId': personId}) }}" autocomplete="off">

						<div class="form-group {{ blah.start_date ? ' has-warning' : '' }}">
				            <label for="serviceStartDate" class="form-control-label">Start date:</label>
				            <div class="col-sm-7">
		            			<input type="text" class="form-control{{ blah.start_date ? ' form-control-warning' : ''}} form-control-sm" id="serviceStartDate" data-provide="datepicker"  data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-date-end-date="today" name="start_date" value="{{ old.start_date }}">
		            			<div class="form-control-feedback">{{ blah.start_date ? blah.start_date | first : ''}}</div>
		            		</div>
			            </div>

			            <div class="form-group {{ blah.end_date ? ' has-warning' : '' }}">
				            <label for="serviceEndDate" class="form-control-label">End date:</label>
				            <div class="col-sm-7">
			            		<input type="text" class="form-control{{ blah.end_date ? ' form-control-warning' : ''}} form-control-sm" id="serviceEndDate" data-provide="datepicker"  data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-date-end-date="today" name="end_date" value="{{ old.end_date }}">
			            		<div class="form-control-feedback">{{ blah.end_date ? blah.end_date | first : ''}}</div>
			            	</div>
			            </div>

			            <div class="form-group {{ blah.service ? ' has-warning' : '' }}">
				            <label for="serviceService" class="form-control-label">Service:</label>
				            <input type="text" class="form-control{{ blah.service ? ' form-control-warning' : ''}} form-control-sm" id="serviceService" name="service" value="{{ old.service }}">
				            <div class="form-control-feedback">{{ blah.service ? blah.service | first : ''}}</div>
			            </div>

			            <div class="form-group {{ blah.description ? ' has-warning' : '' }}">
				            <label for="serviceDescription" class="form-control-label">Description:</label>
				            <input type="text" class="form-control{{ blah.description ? ' form-control-warning' : ''}} form-control-sm" id="serviceDescription" name="description" value="{{ old.description }}">
				            <div class="form-control-feedback">{{ blah.description ? blah.description | first : ''}}</div>
			            </div>


			    		<div class="form-group inline">
							<button  type="submit" class="btn btn-primary" id="serviceSubmit">Submit</button>
							<a type="button" class="btn btn-primary" id="serviceClose" href="{{ path_for('person', {'personId': personId}) }}">Cancel</a>
							<div class="float-right">
					            <label class="btn" for="private" class="form-control-label">Keep this service private?
					            	<input type="checkbox"  id="private" autocomplete="off"  title="private" name="private" checked>
					            </label>
					            <a tabindex="0" class="btn btn-success btn-sm" role="button" data-endggle="popover" data-trigger="focus" title="Keeping data private" data-placement="top" data-content="By default, all personal details are kept private to you. To let others see this data, uncheck this box.">?</a>
				            </div>
					  	</div>
			            {{ csrf.field | raw }}
			        </form>

			    </div>
			</div>
		</div>
	</div>

{% endblock %}
	   