{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-6 col-md-offset-3 pb-2 bg-primary">
			<div class="card">
				<div class="card-header bg-primary text-white">
	   				Create new address
	   				<a type="button" class="close" href="{{ path_for('person', {'personId': personId}) }}" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </a>
	  			</div>
  				<div class="card-block">
					<form method="post" action="{{ path_for('postAddAddress', {'personId': personId}) }}" autocomplete="off">

			            <div class="form-group {{ blah.houseNumber ? ' has-warning' : '' }}">
				            <label for="domicileHouseNumber" class="form-control-label">House number / name:</label>
				            <input type="text" class="form-control{{ blah.houseNumber ? ' form-control-warning' : ''}} form-control-sm" id="domicileHouseNumber" name="houseNumber" value="{{ old.houseNumber }}" required>
				            <div class="form-control-feedback">{{ blah.houseNumber ? blah.houseNumber | first : ''}}</div>
			            </div>

			            <div class="form-group {{ blah.street ? ' has-warning' : '' }}">
				            <label for="domicileStreet" class="form-control-label">Street:</label>
				            <input type="text" class="form-control{{ blah.street ? ' form-control-warning' : ''}} form-control-sm" id="domicileAddress1" name="street" value="{{ old.street }}">
				            <div class="form-control-feedback">{{ blah.street ? blah.street | first : ''}}</div>
			            </div>

			            <div class="form-group {{ blah.address2 ? ' has-warning' : '' }}">
				            <label for="domicileAddress2" class="form-control-label">Address2:</label>
		            		<input type="text" class="form-control{{ blah.address2 ? ' form-control-warning' : ''}} form-control-sm" id="domicileAddress2" name="address2" value="{{ old.address2 }}">
		            		<div class="form-control-feedback">{{ blah.address2 ? blah.address2 | first : ''}}</div>
			            </div>

			            <div class="form-group {{ blah.town ? ' has-warning' : '' }}">
				            <label for="domicileTown" class="form-control-label">Town:</label>
		            		<input type="text" class="form-control{{ blah.town ? ' form-control-warning' : ''}} form-control-sm" id="domicileTown" name="town" value="{{ old.town }}">
		            		<div class="form-control-feedback">{{ blah.town ? blah.town | first : ''}}</div>
			            </div>

			            <div class="form-group {{ blah.postcode ? ' has-warning' : '' }}">
				            <label for="domicilePostcode" class="form-control-label">Postcode:</label>
		            		<input type="text" class="form-control{{ blah.postcode ? ' form-control-warning' : ''}} form-control-sm" id="domicilePostcode" name="postcode" value="{{ old.postcode }}">
		            		<div class="form-control-feedback">{{ blah.postcode ? blah.postcode | first : ''}}</div>
			            </div>

			            <div class="form-group {{ blah.start_date ? ' has-warning' : '' }}">
				            <label for="domicileFrom" class="form-control-label">From:</label>
		            		<input type="date" class="form-control{{ blah.start_date ? ' form-control-warning' : ''}} form-control-sm" id="domicileFrom" name="start_date" value="{{ old.start_date }}">
		            		<div class="form-control-feedback">{{ blah.start_date ? blah.start_date | first : ''}}</div>
			            </div>

			            <div class="form-group {{ blah.end_date ? ' has-warning' : '' }}">
				            <label for="domicileTo" class="form-control-label">To:</label>
		            		<input type="date" class="form-control{{ blah.end_date ? ' form-control-warning' : ''}} form-control-sm" id="domicileTo" name="end_date" value="{{ old.end_date }}">
		            		<div class="form-control-feedback">{{ blah.end_date ? blah.end_date | first : ''}}</div>
			            </div>

			    		<div class="form-group inline">
							<button  type="submit" class="btn btn-primary" id="addressSubmit">Submit</button>
							<a type="button" class="btn btn-primary" id="addressClose" href="{{ path_for('person', {'personId': personId}) }}">Cancel</a>
							<div class="float-right">
					            <label class="btn" for="private" class="form-control-label">Keep this address private?
					            	<input type="checkbox"  id="private" autocomplete="off"  title="private" name="private" checked>
					            </label>
					            <a tabindex="0" class="btn btn-success btn-sm" role="button" data-toggle="popover" data-trigger="focus" title="Keeping data private" data-placement="top" data-content="By default, all personal details are kept private to you. To let others see this data, uncheck this box.">?</a>
				            </div>
					  	</div>
			            {{ csrf.field | raw }}
			        </form>

			    </div>
			</div>
		</div>
	</div>

{% endblock %}


