{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row lower">
		<div class="col-md-6 col-md-offset-3 pb-2 bg-primary">
			<div class="card">
				<div class="card-header bg-primary text-white">
	   				Update pastime details
	   				<a type="button" class="close" href="{{ path_for('person', {'personId': personId}) }}" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </a>
	  			</div>
  				<div class="card-block">

			        <form method="post" action="{{ path_for('postUpdatePastime', {'personId' : personId, 'pastimeId' : pastime.id}) }}" autocomplete="off">

			        	<div class="form-group {{ blah.startYear ? ' has-warning' : '' }}">
				            <label for="pastimeStartYear" class="form-control-label">Start year:</label>
		            		<input type="text" class="form-control{{ blah.startYear ? ' form-control-warning' : ''}} form-control-sm" id="pastimeStartYear" name="pastimeStartYear"  value="{{ blah.startYear ? blah.startYear | first : pastime.start_year }}">
		            		<div class="form-control-feedback">{{ blah.startYear ? blah.startYear | first : ''}}</div>
			            </div>

			            <div class="form-group {{ blah.end_year ? ' has-warning' : '' }}">
				            <label for="pastimeEndYear" class="form-control-label">End year:</label>
		            		<input type="text" class="form-control{{ blah.end_year ? ' form-control-warning' : ''}} form-control-sm" id="pastimeEndYear" name="pastimeEndYear" value="{{ blah.end_year ? blah.end_year | first : pastime.end_year }}">
		            		<div class="form-control-feedback">{{ blah.end_year ? blah.end_year | first : ''}}</div>
			            </div>

			            <div class="form-group {{ blah.activity ? ' has-warning' : '' }}">
				            <label for="pastimeActivity" class="form-control-label">Activity:</label>
				            <input type="text" class="form-control{{ blah.activity ? ' form-control-warning' : ''}} form-control-sm" id="pastimeActivity" name="pastimeActivity" value="{{ blah.activity ? blah.activity | first : pastime.activity }}" >
				            <div class="form-control-feedback">{{ blah.activity ? blah.activity | first : ''}}</div>
			            </div>

						<div class="form-group {{ blah.club ? ' has-warning' : '' }}">
				            <label for="pastimeClub" class="form-control-label">Club:</label>
				            <input type="text" class="form-control{{ blah.club ? ' form-control-warning' : ''}} form-control-sm" id="pastimeClub" name="pastimeClub" value="{{ blah.club ? blah.club | first : pastime.club }}" >
				            <div class="form-control-feedback">{{ blah.club ? blah.club | first : ''}}</div>
			            </div>

			            <div class="form-group {{ blah.description ? ' has-warning' : '' }}">
				            <label for="pastimeDescription" class="form-control-label">Description:</label>
				            <input type="text" class="form-control{{ blah.description ? ' form-control-warning' : ''}} form-control-sm" id="pastimeDescription" name="pastimeDescription" value="{{ blah.description ? blah.description | first : pastime.description }}" >
				            <div class="form-control-feedback">{{ blah.description ? blah.description | first : ''}}</div>
			            </div>


			            <div class="form-group inline">
							<button  type="submit" class="btn btn-primary" id="pastimeSubmit">Submit</button>
							<a type="button" class="btn btn-primary" id="pastimeClose" href="{{ path_for('person', {'personId': personId}) }}">Cancel</a>
							<div class="float-right">
					            <label class="btn" for="private" class="form-control-label">Keep this pastime private?
					            	<input type="checkbox"  id="private" autocomplete="off"  title="private" name="private" {% if private %} checked {% endif %}>
					            </label>
					            <a tabindex="0" class="btn btn-success btn-sm" role="button" data-toggle="popover" data-trigger="focus" title="Keeping data private" data-placement="top" data-content="By default, all personal details are kept private to you. To let others see this data, uncheck this box.">?</a>
			            	</div>
					    </div>
			          {{ csrf.field | raw }}
			        </form>

			      </div>
			</div>
		</div>
	</div>

{% endblock %}