{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row lower">
		<div class="col-md-6 col-md-offset-3 pb-2 bg-primary">
			<div class="card">
				<div class="card-header bg-primary text-white">
	   				Update medical details
	   				<a type="button" class="close" href="{{ path_for('person', {'personId': personId}) }}" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </a>
	  			</div>
  				<div class="card-block">

			        <form method="post" action="{{ path_for('postUpdateNote', {'personId' : personId, 'noteId' : note.id}) }}" autocomplete="off">

			            <div class="form-group {{ blah.date ? ' has-warning' : '' }}">
				            <label for="noteDate" class="form-control-label">Date:</label>
				            <input type="text" class="form-control{{ blah.date ? ' form-control-warning' : ''}} form-control-sm" id="noteDate" name="date" value="{{ blah.date ? blah.date | first : note.date }}" >
				            <div class="form-control-feedback">{{ blah.date ? blah.date | first : ''}}</div>
			            </div>

			            <div class="form-group {{ blah.note ? ' has-warning' : '' }}">
				            <label for="noteNote" class="form-control-label">Note:</label>
				            <input type="text" class="form-control{{ blah.note ? ' form-control-warning' : ''}} form-control-sm" id="noteNote" name="note" value="{{ blah.note ? blah.note | first : note.note }}">
				            <div class="form-control-feedback">{{ blah.note ? blah.note | first : ''}}</div>
			            </div>

			            <div class="form-group inline">
							<button  type="submit" class="btn btn-primary" id="noteSubmit">Submit</button>
							<a type="button" class="btn btn-primary" id="medicalClose" href="{{ path_for('person', {'personId': personId}) }}">Cancel</a>
							<div class="float-right">
					            <label class="btn" for="private" class="form-control-label">Keep this note private?
					            	<input type="checkbox"  id="private" autocomplete="off"  title="private" name="private" {% if private %} checked {% endif %}>
					            </label>
					            <a tabindex="0" class="btn btn-success btn-sm" role="button" data-toggle="popover" data-trigger="focus" title="Keeping data private" data-placement="top" data-content="By default, all personal details are kept private to you. To let others see this data, uncheck this box.">?</a>
			            	</div>
					    </div>
			           {{ csrf.field | raw }}
			        </form>

			      </div>
			</div>
		</div>
	</div>

{% endblock %}