{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row lower">
		<div class="col-md-6 col-md-offset-3 pb-2 bg-primary">
			<div class="card">
				<div class="card-header bg-primary text-white">
	   				Update education details
	   				<a type="button" class="close" href="{{ path_for('person', {'personId': personId}) }}" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </a>
	  			</div>
  				<div class="card-block">

			        <form method="post" action="{{ path_for('postUpdateEducation', {'personId' : personId, 'educationId' : education.id}) }}" autocomplete="off">

			            <div class="form-group {{ blah.institution ? ' has-warning' : '' }}">
				            <label for="educationInstitution" class="form-control-label">Institution:</label>
				            <input type="text" class="form-control{{ blah.institution ? ' form-control-warning' : ''}} form-control-sm" id="educationInstitution" name="institution" value="{{ blah.institution ? blah.institution | first : education.institution }}" >
				            <div class="form-control-feedback">{{ blah.institution ? blah.institution | first : ''}}</div>
			            </div>

			            <div class="form-group {{ blah.startYear ? ' has-warning' : '' }}">
				            <label for="educationStartYear" class="form-control-label">Start year:</label>
				            <input type="text" class="form-control{{ blah.startYear ? ' form-control-warning' : ''}} form-control-sm" id="educationStartYear" name="startYear" value="{{ blah.startYear ? blah.startYear | first : education.start_year }}">
				            <div class="form-control-feedback">{{ blah.startYear ? blah.startYear | first : ''}}</div>
			            </div>

			            <div class="form-group {{ blah.endYear ? ' has-warning' : '' }}">
				            <label for="educationEndYear" class="form-control-label">End year:</label>
				            <input type="text" class="form-control{{ blah.endYear ? ' form-control-warning' : ''}} form-control-sm" id="educationEndYear" name="endYear" value="{{ blah.endYear ? blah.endYear | first : education.end_year }}">
				            <div class="form-control-feedback">{{ blah.endYear ? blah.endYear | first : ''}}</div>
			            </div>


			            <div class="form-group {{ blah.qualification ? ' has-warning' : '' }}">
				            <label for="educationQualification" class="form-control-label">Qualification:</label>
		            		<input type="text" class="form-control{{ blah.qualification ? ' form-control-warning' : ''}} form-control-sm" id="educationQualification" name="qualification" value="{{ blah.qualification ? blah.qualification | first : education.qualification }}">
		            		<div class="form-control-feedback">{{ blah.qualification ? blah.qualification | first : ''}}</div>
			            </div>

			            <div class="form-group {{ blah.subject ? ' has-warning' : '' }}">
				            <label for="educationSubject" class="form-control-label">Subject:</label>
		            		<input type="text" class="form-control{{ blah.subject ? ' form-control-warning' : ''}} form-control-sm" id="educationSubject" name="subject" value="{{ blah.subject ? blah.subject | first : education.subject }}">
		            		<div class="form-control-feedback">{{ blah.subject ? blah.subject | first : ''}}</div>
			            </div>


			            <div class="form-group inline">
							<button  type="submit" class="btn btn-primary" id="educationSubmit">Submit</button>
							<a type="button" class="btn btn-primary" id="educationClose" href="{{ path_for('person', {'personId': personId}) }}">Cancel</a>
							<div class="float-right">
					            <label class="btn" for="private" class="form-control-label">Keep this education private?
					            	<input type="checkbox"  id="private" autocomplete="off"  title="private" name="private" {% if private %} checked {% endif %}>
					            </label>
					            <a tabindex="0" class="btn btn-success btn-sm" role="button" data-toggle="popover" data-trigger="focus" title="Keeping data private" data-placement="top" data-content="By default, all personal details are kept private to you. To let others see this data, uncheck this box.">?</a>
			            	</div>
					    </div>
			           {{ csrf.field | raw }}
			        </form>

			      </div>
			</div>
		</div>
	</div>

{% endblock %}